/*
    Author     : kichrum
*/

@font-face {
    font-family: 'Purisa';
    src: url('../fonts/Purisa.eot');
    src: local('Purisa'),
         url('../fonts/Purisa.ttf') format('truetype');
}
body {
    background: rgb(10, 118, 255);
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.table {
    background-image: url("../images/BG.png");
    height: 536px;
    width: 960px;
    font: bold 26px "Purisa";
    margin: 0 auto;
    border: 2px solid rgb(37, 117, 11);
    border-radius: 30px;
}
.symbols {
    display: none;
}
.symbol {
    width: 235px;
    height: 155px;
    margin: 20px 0;
}
.symbol1 {
    background-image: url("../images/SYM5.png");
}
.symbol2 {
    background-image: url("../images/SYM4.png");
}
.symbol3 {
    background-image: url("../images/SYM3.png");
}
.symbol4 {
    background-image: url("../images/SYM6.png");
}
.symbol5 {
    background-image: url("../images/SYM1.png");
}
.button {
    width: 98px;
    height: 98px;
    background-image: url("../images/BTN_Spin.png");
    background-repeat: no-repeat;
    display: block;
    margin: 219px 0 0 37px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button.disabled {
    background-image: url("../images/BTN_Spin_d.png");
    cursor: default;
}
.cols {
    margin-left: 71px;
    float: left;
    height: 536px;
    overflow: hidden;
}
.col:first-child {
    margin-left: 0;
}
.col {
    float: left;
    width: 235px;
    margin-left: 6px;
}
.actions {
    float: left;
}
.win {
    margin: 70px 0 0 10px;
    color: rgb(129, 255, 111);
    float: left;
    width: 152px;
    vertical-align: top;
    text-align: center;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.3);
    line-height: 40px;
}
.lines {
    position: absolute;
}
.line {
    background-image: url("../images/Bet_Line.png");
    background-repeat: no-repeat;
    width: 770px;
    height: 16px;
    display: none;
    position: absolute;
}
.line1, .line2, .line3 {
    top: 90px;
    background-size: 716px 16px;
}
.line2 {
    top: 265px;
}
.line3 {
    top: 440px;
}
.line4, .line5 {
    transform: rotate(37deg);
    -ms-transform: rotate(37deg);
    -webkit-transform: rotate(37deg);
    top: 266px;
    margin-left: -30px;
}
.line5 {
    transform: rotate(-37deg);
    -ms-transform: rotate(-37deg);
    -webkit-transform: rotate(-37deg);
}
.topup {
    position: absolute;
    background: #fff;
    opacity: 0.8;
    width: 500px;
    text-align: center;
    margin: 210px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 26px;
    display: none;
}
